In [ ]:
from google.colab import drive

drive.mount("/content/gdrive")

Mounted at /content/gdrive


#q1

In [ ]:
import pandas

df = pandas.read_csv('/content/gdrive/MyDrive/Colab Notebooks/sim/features.csv')
# df = df.drop(columns=['Unnamed: 0'])
df
y = df['price_vnd']
df = df.drop(['price_vnd'], axis='columns')
X = df.loc[:, df.columns != 'sim_number']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
import math
model = DecisionTreeRegressor()
model.fit(X_train, y_train)
yhat = model.predict(X_test)
mse = math.sqrt(mean_squared_error(y_test, yhat))
print('MSE: %.3f' % mse)

mae = mean_absolute_error(y_test, yhat)
print('MAE: %.3f' % mae)

In [ ]:
import pandas

df = pandas.read_csv('/content/gdrive/MyDrive/Colab Notebooks/sim/features.csv')
# df = df.drop(columns=['Unnamed: 0'])
df

,price_vnd,sim_number,090,091,092,093,094,096,097,098,...,9900,9911,9922,9933,9944,9955,9966,9977,9988,9999.2
0,450000,343189288,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3000000,888899580,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,500000,928960006,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5000000,902438679,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,450000,334307889,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,450000,866161769,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199996,1000000,708124126,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199997,1000000,904755200,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199998,450000,329220204,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199999,1000000,904760321,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
y = df['price_vnd']
df = df.drop(['price_vnd'], axis='columns')
X = df.loc[:, df.columns != 'sim_number']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# from sklearn.preprocessing import StandardScaler
# y = df['price_vnd']
# sc_y = StandardScaler()
# y = sc_y.fit_transform(y.values.reshape(-1, 1))

# df = df.drop(['price_vnd'], axis='columns')
# X = df.loc[:, df.columns != 'sim_number']
# print(X.shape, y.shape)

In [ ]:
# from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# from sklearn.ensemble import RandomForestRegressor
# from sklearn.metrics import mean_absolute_error
# from sklearn.svm import SVR
# model = SVR(kernel = 'rbf')
# import xgboost as xg
# xgb_r = xg.XGBRegressor(objective ='reg:linear',
#                   n_estimators = 10, seed = 42)
 
# Fitting the model
# xgb_r.fit(X_train, y_train)
 
# Predict the model
# yhat = xgb_r.predict(X_test)

# model = RandomForestRegressor(random_state=42)
# model.fit(X_train, y_train)
# # # make predictions
# yhat = model.predict(X_test)

In [ ]:
# from sklearn.metrics import mean_squared_error
# import math
# # mae = mean_absolute_error(sc_y.inverse_transform(y_test), sc_y.inverse_transform(yhat.reshape(-1, 1)))
# # print('MAE: %.3f' % mae)
# # mse = mean_squared_error(sc_y.inverse_transform(y_test), sc_y.inverse_transform(yhat.reshape(-1, 1)))
# # print('MSE: %.3f' % mse)

# # mae = mean_absolute_error(y_test, yhat)
# # print('MAE: %.3f' % mae)
# mse = math.sqrt(mean_squared_error(y_test, yhat))
# print('MSE: %.3f' % mse)

In [ ]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
import math
model = DecisionTreeRegressor()
model.fit(X_train, y_train)
yhat = model.predict(X_test)
mse = math.sqrt(mean_squared_error(y_test, yhat))
print('MSE: %.3f' % mse)

mae = mean_absolute_error(y_test, yhat)
print('MAE: %.3f' % mae)

MSE: 848873191.668

In [ ]:
cnt = 0
a =  sc_y.inverse_transform(yhat.reshape(-1, 1))
b = sc_y.inverse_transform(y_test)
for i in range(len(a)):
    if a[i]/b[i] > 0.85 and a[i]/b[i] < 1.15:
        cnt += 1
print(cnt / len(a))

0.04397487150199886

#BNN

In [ ]:
import pandas
import numpy as np

df = pandas.read_csv('/content/gdrive/MyDrive/Colab Notebooks/sim/train_dataset.csv')

df['price_vnd']  = df['price_vnd']/1000
df['price_vnd'] = df['price_vnd'].astype(int)
df['sim_number'] = df['sim_number'].astype(str)
df

        price_vnd sim_number  label
0             450  343189288      1
1            3000  888899580      4
2             500  928960006      3
3            5000  902438679      5
4             450  334307889      1
...           ...        ...    ...
199995        450  866161769      1
199996       1000  708124126      2
199997       1000  904755200      2
199998        450  329220204      1
199999       1000  904760321      2

[200000 rows x 3 columns]

In [ ]:
from collections import Counter
w = Counter(df['price_vnd'])
w.most_common()

[(450, 45119),
 (1000, 38472),
 (500, 30619),
 (3000, 29199),
 (5000, 21383),
 (10000, 6139),
 (12000, 5125),
 (11325, 2682),
 (11000, 1760),
 (13000, 1720),
 (15000, 1417),
 (14000, 808),
 (50000, 786),
 (12500, 534),
 (10500, 531),
 (13500, 430),
 (55000, 429),
 (60000, 388),
 (10300, 331),
 (11500, 329),
 (65000, 302),
 (13900, 272),
 (68000, 270),
 (70000, 236),
 (12900, 236),
 (10400, 199),
 (11900, 197),
 (80000, 191),
 (79000, 184),
 (99000, 183),
 (100000, 182),
 (12600, 173),
 (11700, 171),
 (150000, 171),
 (75000, 169),
 (12800, 152),
 (120000, 149),
 (10100, 147),
 (58000, 146),
 (69000, 143),
 (59000, 142),
 (399, 138),
 (10800, 134),
 (90000, 132),
 (13125, 127),
 (95000, 120),
 (110000, 117),
 (85000, 112),
 (88000, 107),
 (13600, 104),
 (12400, 104),
 (10600, 101),
 (139000, 92),
 (299, 91),
 (11300, 86),
 (10900, 86),
 (13800, 85),
 (250000, 85),
 (52000, 82),
 (800000, 81),
 (89000, 77),
 (168000, 74),
 (10200, 73),
 (11250, 72),
 (66000, 71),
 (200000, 68),
 (11600, 66),
 (135000, 66),
 (130000, 62),
 (12100, 59),
 (99, 58),
 (179000, 56),
 (13200, 56),
 (72000, 54),
 (13700, 54),
 (14500, 52),
 (199000, 51),
 (160000, 51),
 (86000, 50),
 (105000, 49),
 (14300, 49),
 (180000, 48),
 (250, 47),
 (11800, 47),
 (12300, 46),
 (14700, 46),
 (125000, 45),
 (145000, 44),
 (115000, 44),
 (54000, 44),
 (900000, 42),
 (63000, 42),
 (56000, 42),
 (300000, 41),
 (12200, 40),
 (155000, 40),
 (13400, 40),
 (11200, 39),
 (77000, 38),
 (500000, 37),
 (14800, 37),
 (51000, 36),
 (14750, 36),
 (399000, 35),
 (62000, 35),
 (220000, 34),
 (13750, 33),
 (99900, 33),
 (10175, 32),
 (119, 32),
 (53000, 32),
 (12060, 32),
 (83000, 31),
 (12550, 31),
 (93000, 30),
 (14100, 30),
 (280000, 30),
 (350000, 30),
 (11100, 29),
 (10700, 29),
 (67000, 29),
 (10550, 28),
 (98000, 27),
 (57000, 27),
 (210000, 27),
 (78000, 26),
 (13300, 26),
 (140000, 26),
 (106000, 26),
 (129000, 26),
 (14200, 26),
 (123000, 25),
 (450000, 25),
 (11111, 24),
 (268000, 24),
 (10625, 23),
 (330000, 23),
 (13100, 23),
 (350, 22),
 (76000, 22),
 (73000, 22),
 (119000, 22),
 (12890, 22),
 (12700, 21),
 (82000, 21),
 (230000, 21),
 (14400, 20),
 (14900, 20),
 (118000, 19),
 (239000, 19),
 (199, 18),
 (279000, 18),
 (189000, 17),
 (195000, 17),
 (10860, 17),
 (11400, 17),
 (13388, 17),
 (299000, 16),
 (96000, 16),
 (74000, 16),
 (13990, 16),
 (59900, 16),
 (188000, 15),
 (400000, 15),
 (128000, 15),
 (12388, 15),
 (550000, 14),
 (91000, 14),
 (225000, 14),
 (14375, 14),
 (170000, 13),
 (61700, 13),
 (12650, 13),
 (10350, 13),
 (368000, 13),
 (13250, 13),
 (92000, 13),
 (102000, 13),
 (10560, 13),
 (64000, 13),
 (468000, 13),
 (10620, 13),
 (14460, 12),
 (99990, 12),
 (320000, 12),
 (10125, 12),
 (333000, 12),
 (339000, 12),
 (175000, 12),
 (138000, 12),
 (390000, 12),
 (14650, 11),
 (148000, 11),
 (61000, 11),
 (159000, 11),
 (111000, 11),
 (555000, 11),
 (108000, 11),
 (388000, 11),
 (222000, 11),
 (699000, 11),
 (289000, 10),
 (2500000, 10),
 (255000, 10),
 (10499, 10),
 (650000, 10),
 (1500000, 10),
 (10750, 10),
 (10490, 10),
 (109000, 10),
 (112000, 10),
 (71000, 10),
 (11880, 10),
 (1000000, 10),
 (260000, 10),
 (87000, 10),
 (12875, 9),
 (599000, 9),
 (169000, 9),
 (379000, 9),
 (999000, 9),
 (430000, 9),
 (290, 9),
 (1200000, 9),
 (235000, 9),
 (750000, 9),
 (12750, 9),
 (11999, 9),
 (165000, 9),
 (116000, 8),
 (12490, 8),
 (136000, 8),
 (288000, 8),
 (156000, 8),
 (12960, 8),
 (56700, 8),
 (480000, 8),
 (185000, 8),
 (53600, 7),
 (579000, 7),
 (11820, 7),
 (240000, 7),
 (56400, 7),
 (13999, 7),
 (14600, 7),
 (84000, 7),
 (190000, 7),
 (133000, 7),
 (520000, 7),
 (420000, 7),
 (11875, 7),
 (88500, 7),
 (50800, 7),
 (103000, 7),
 (380000, 7),
 (126000, 7),
 (360000, 6),
 (11550, 6),
 (97000, 6),
 (51480, 6),
 (168800, 6),
 (101000, 6),
 (600000, 6),
 (700000, 6),
 (64500, 6),
 (399999, 6),
 (13490, 6),
 (107000, 6),
 (290000, 6),
 (113000, 6),
 (10380, 6),
 (799000, 6),
 (11750, 6),
 (11430, 6),
 (245000, 6),
 (172000, 6),
 (688000, 6),
 (104000, 5),
 (77300, 5),
 (11388, 5),
 (58500, 5),
 (67500, 5),
 (14999, 5),
 (10888, 5),
 (52500, 5),
 (13380, 5),
 (122000, 5),
 (10390, 5),
 (345000, 5),
 (117000, 5),
 (176000, 5),
 (13650, 5),
 (53500, 5),
 (455000, 5),
 (14580, 5),
 (69900, 4),
 (888000, 4),
 (12499, 4),
 (256000, 4),
 (13960, 4),
 (14640, 4),
 (81000, 4),
 (68900, 4),
 (209000, 4),
 (275000, 4),
 (62500, 4),
 (11499, 4),
 (58700, 4),
 (95700, 4),
 (10962, 4),
 (880000, 4),
 (88800, 4),
 (315000, 4),
 (10321, 4),
 (10375, 4),
 (335000, 4),
 (50700, 4),
 (177000, 4),
 (666000, 4),
 (10060, 4),
 (10940, 4),
 (215000, 4),
 (86020, 4),
 (488000, 4),
 (143000, 4),
 (10735, 4),
 (173000, 4),
 (13150, 4),
 (355000, 4),
 (310000, 4),
 (1800000, 4),
 (183000, 4),
 (270000, 4),
 (10999, 4),
 (14960, 4),
 (12575, 4),
 (89900, 4),
 (158000, 4),
 (186000, 4),
 (11050, 3),
 (68800, 3),
 (390, 3),
 (142000, 3),
 (11603, 3),
 (88400, 3),
 (10630, 3),
 (1799000, 3),
 (61500, 3),
 (198000, 3),
 (259000, 3),
 (3333333, 3),
 (286000, 3),
 (66500, 3),
 (86750, 3),
 (280, 3),
 (89500, 3),
 (162000, 3),
 (12380, 3),
 (950000, 3),
 (3900000, 3),
 (228000, 3),
 (299999, 3),
 (10235, 3),
 (63500, 3),
 (389000, 3),
 (13550, 3),
 (410000, 3),
 (98800, 3),
 (72950, 3),
 (13688, 3),
 (1999000, 3),
 (446000, 3),
 (13860, 3),
 (13260, 3),
 (74600, 3),
 (1300000, 3),
 (1100000, 3),
 (89050, 3),
 (99999, 3),
 (590000, 3),
 (580000, 3),
 (11770, 3),
 (850000, 3),
 (25000000, 3),
 (298000, 3),
 (295000, 3),
 (11490, 3),
 (78700, 3),
 (680000, 3),
 (94000, 3),
 (265000, 3),
 (121000, 3),
 (10399, 3),
 (212000, 3),
 (87500, 3),
 (229000, 3),
 (226000, 3),
 (205000, 3),
 (76500, 2),
 (11390, 2),
 (86100, 2),
 (435000, 2),
 (3500000, 2),
 (206000, 2),
 (10850, 2),
 (73500, 2),
 (64600, 2),
 (148500, 2),
 (62200, 2),
 (779000, 2),
 (13888, 2),
 (1555000, 2),
 (10705, 2),
 (12999, 2),
 (1650000, 2),
 (269000, 2),
 (11380, 2),
 (56250, 2),
 (72300, 2),
 (182000, 2),
 (365000, 2),
 (11850, 2),
 (11180, 2),
 (11540, 2),
 (55200, 2),
 (400, 2),
 (323000, 2),
 (141000, 2),
 (479000, 2),
 (223000, 2),
 (13725, 2),
 (10990, 2),
 (92500, 2),
 (12345, 2),
 (313000, 2),
 (710000, 2),
 (155750, 2),
 (259500, 2),
 (14950, 2),
 (65700, 2),
 (52250, 2),
 (93750, 2),
 (52900, 2),
 (12350, 2),
 (55500, 2),
 (1400000, 2),
 (61450, 2),
 (233000, 2),
 (199999, 2),
 (107500, 2),
 (630000, 2),
 (174000, 2),
 (95500, 2),
 (12870, 2),
 (199500, 2),
 (86500, 2),
 (739000, 2),
 (50400, 2),
 (620000, 2),
 (53400, 2),
 (660000, 2),
 (1350000, 2),
 (266000, 2),
 (369000, 2),
 (79200, 2),
 (386000, 2),
 (67200, 2),
 (151800, 2),
 (11125, 2),
 (4500000, 2),
 (1666000, 2),
 (55900, 2),
 (2100000, 2),
 (178000, 2),
 (14875, 2),
 (14550, 2),
 (2999000, 2),
 (69500, 2),
 (55295, 2),
 (12688, 2),
 (12990, 2),
 (668000, 2),
 (50200, 2),
 (395000, 2),
 (63250, 2),
 (55555, 2),
 (14880, 2),
 (65500, 2),
 (166000, 2),
 (14888, 2),
 (72060, 2),
 (54500, 2),
 (54300, 2),
 (10199, 2),
 (50500, 2),
 (211000, 2),
 (7900000, 2),
 (127000, 2),
 (132000, 2),
 (154000, 2),
 (460000, 1),
 (81500, 1),
 (745000, 1),
 (11429, 1),
 (168888, 1),
 (96600, 1),
 (4667000, 1),
 (149500, 1),
 (366000, 1),
 (695500, 1),
 (356000, 1),
 (14160, 1),
 (11199, 1),
 (485000, 1),
 (109960, 1),
 (171000, 1),
 (11016, 1),
 (52942, 1),
 (84500, 1),
 (90700, 1),
 (56100, 1),
 (60800, 1),
 (1072510, 1),
 (66060, 1),
 (139999, 1),
 (341000, 1),
 (11000000, 1),
 (519500, 1),
 (89040, 1),
 (10660, 1),
 (8000000, 1),
 (670000, 1),
 (136620, 1),
 (1579000, 1),
 (699999, 1),
 (139800, 1),
 (74800, 1),
 (2122000, 1),
 (146000, 1),
 (253000, 1),
 (79500, 1),
 (50100, 1),
 (82600, 1),
 (11885, 1),
 (116250, 1),
 (720000, 1),
 (12150, 1),
 (78600, 1),
 (11980, 1),
 (45000000, 1),
 (334000, 1),
 (101100, 1),
 (236000, 1),
 (204000, 1),
 (833000, 1),
 (68100, 1),
 (15500000, 1),
 (14250, 1),
 (6900000, 1),
 (1111000, 1),
 (68999, 1),
 (14520, 1),
 (72500, 1),
 (68236, 1),
 (12030, 1),
 (131000, 1),
 (83500, 1),
 (316000, 1),
 (570000, 1),
 (12920, 1),
 (1939999, 1),
 (83950, 1),
 (220, 1),
 (148200, 1),
 (869000, 1),
 (12190, 1),
 (110900, 1),
 (626000, 1),
 (868868, 1),
 (125800, 1),
 (192000, 1),
 (13880, 1),
 (11570, 1),
 (11385, 1),
 (1399000, 1),
 (57140, 1),
 (438000, 1),
 (67300, 1),
 (735000, 1),
 (980000, 1),
 (5500000, 1),
 (321000, 1),
 (56800, 1),
 (525000, 1),
 (138800, 1),
 (267000, 1),
 (339500, 1),
 (60500, 1),
 (52800, 1),
 (85800, 1),
 (780000, 1),
 (619000, 1),
 (60300, 1),
 (11970, 1),
 (88999, 1),
 (588000, 1),
 (13160, 1),
 (13810, 1),
 (13890, 1),
 (66050, 1),
 (312500, 1),
 (68350, 1),
 (1355000, 1),
 (216000, 1),
 (79900, 1),
 (69999, 1),
 (254600, 1),
 (106250, 1),
 (14065, 1),
 (699900, 1),
 (530000, 1),
 (10680, 1),
 (13560, 1),
 (6666000, 1),
 (1230000, 1),
 (12000000, 1),
 (65100, 1),
 (168000000, 1),
 (49000000, 1),
 (1455000, 1),
 (147000, 1),
 (450200, 1),
 (1199000, 1),
 (61880, 1),
 (55700, 1),
 (219000, 1),
 (273000, 1),
 (868000, 1),
 (292000, 1),
 (14669, 1),
 (91500, 1),
 (51764, 1),
 (60720, 1),
 (80300, 1),
 (10122, 1),
 (2200000, 1),
 (1333333, 1),
 (3344000, 1),
 (319000, 1),
 (15690000, 1),
 (635000, 1),
 (6160000, 1),
 (702500, 1),
 (90250, 1),
 (11699, 1),
 (489000, 1),
 (370000, 1),
 (54117, 1),
 (13310, 1),
 (55000000, 1),
 (59999, 1),
 (1250000, 1),
 (89999, 1),
 (159999, 1),
 (136500, 1),
 (54600, 1),
 (11480, 1),
 (177900, 1),
 (919000, 1),
 (82200, 1),
 (94117, 1),
 (51250, 1),
 (143750, 1),
 (64300, 1),
 (71250, 1),
 (1677000, 1),
 (352000, 1),
 (13680, 1),
 (54060, 1),
 (68250, 1),
 (276000, 1),
 (10275, 1),
 (199960, 1),
 (51765, 1),
 (1600000, 1),
 (69750, 1),
 (52825, 1),
 (102222, 1),
 (424000, 1),
 (80100, 1),
 (130500, 1),
 (13689, 1),
 (415000, 1),
 (10166, 1),
 (136200, 1),
 (11040, 1),
 (6600000, 1),
 (1168000, 1),
 (57100, 1),
 (137777, 1),
 (2400000, 1),
 (5100000, 1),
 (10810, 1),
 (482000, 1),
 (176700, 1),
 (175750, 1),
 (2900000, 1),
 (3000000, 1),
 (10960, 1),
 (54900, 1),
 (128700, 1),
 (56500, 1),
 (88600, 1),
 (399990, 1),
 (999999, 1),
 (131250, 1),
 (221000, 1),
 (10790, 1),
 (56789, 1),
 (55350, 1),
 (88880, 1),
 (269500, 1),
 (363000, 1),
 (11168, 1),
 (218500, 1),
 (238000, 1),
 (1105000, 1),
 (468500, 1),
 (131500, 1),
 (122500, 1),
 (325000, 1),
 (10340, 1),
 (8900000, 1),
 (122400, 1),
 (18000000, 1),
 (6500000, 1),
 (64900, 1),
 (2666666, 1),
 (50160, 1),
 (506000, 1),
 (61260, 1),
 (181000, 1),
 (789000, 1),
 (14670, 1),
 (97500, 1),
 (20500000, 1),
 (1430000, 1),
 (2950000, 1),
 (2223000, 1),
 (64705, 1),
 (12110, 1),
 (6800000, 1),
 (1750000, 1),
 (1150000, 1),
 (29000000, 1),
 (71800, 1),
 (156900, 1),
 (168750, 1),
 (124000, 1),
 (1950000, 1),
 (2712000, 1),
 (214000, 1),
 (12590, 1),
 (50669, 1),
 (1890000, 1),
 (480200, 1),
 (339999, 1),
 (470000, 1),
 (108790, 1),
 (75250, 1),
 (114000, 1),
 (132750, 1),
 (14040, 1),
 (689000, 1),
 (89800, 1),
 (229500, 1),
 (10230, 1),
 (2000000, 1),
 (95950, 1),
 (175500, 1),
 (155600, 1),
 (11240, 1),
 (666666, 1),
 (87900, 1),
 (57648, 1),
 (58800, 1),
 (228750, 1),
 (84705, 1),
 (634000, 1),
 (2600000, 1),
 (13399, 1),
 (79100, 1),
 (12188, 1),
 (11960, 1),
 (14850, 1),
 (886000, 1),
 (12888, 1),
 (10687, 1),
 (59725, 1),
 (59850, 1),
 (12390, 1),
 (157000, 1),
 (163000, 1),
 (187000, 1),
 (650200, 1),
 (690000, 1),
 (114350, 1),
 (83490, 1),
 (198300, 1),
 (589000, 1),
 (385000, 1),
 (168500, 1),
 (59960, 1),
 (72600, 1),
 (56949, 1),
 (1867000, 1),
 (77500, 1),
 (418000, 1),
 (129600, 1),
 (13499, 1),
 (586000, 1),
 (227000, 1),
 (98823, 1),
 (1868000, 1),
 (278000, 1),
 (123500, 1),
 (29900000, 1),
 (125850, 1),
 (477000, 1),
 (11425, 1),
 (167000, 1),
 (89888, 1),
 (166250, 1),
 (868400, 1),
 (54100, 1),
 (68750, 1),
 (150500, 1),
 (174570, 1),
 (639000, 1),
 (268800, 1),
 (10080, 1),
 (1368000, 1),
 (11830, 1),
 (719500, 1),
 (1050000, 1),
 (160350, 1),
 (12475, 1),
 (10780, 1),
 (79960, 1),
 (22000000, 1),
 (11690, 1),
 (71500, 1),
 (56760, 1),
 (398000, 1),
 (429000, 1),
 (10388, 1),
 (11650, 1),
 (11195, 1),
 (95200, 1),
 (11440, 1),
 (92990, 1),
 (1167000, 1),
 (14688, 1),
 (165000000, 1),
 (10980, 1),
 (14190, 1),
 (11949, 1),
 (10950, 1),
 (11375, 1),
 (64706, 1),
 (10610, 1),
 (535000, 1),
 (1200300, 1),
 (10050, 1),
 (499999, 1),
 (760000, 1),
 (1840000, 1),
 (768000, 1),
 (315500, 1),
 (12980, 1),
 (345100, 1),
 (12450, 1),
 (675000, 1),
 (2300000, 1),
 (99500, 1),
 (469500, 1),
 (10045, 1),
 (1550000, 1),
 (388800, 1),
 (444444, 1),
 (152000, 1),
 (990000, 1),
 (86880, 1),
 (285000, 1),
 (140800, 1),
 (468800, 1),
 (102700, 1),
 (622000, 1),
 (234000, 1),
 (184000, 1),
 (10480, 1),
 (12699, 1),
 (14699, 1),
 (4568000, 1),
 (14283, 1),
 (51500, 1),
 (134000, 1),
 (82800, 1),
 (146666, 1),
 (94500, 1),
 (368800, 1),
 (825000, 1),
 (65780, 1),
 (57500, 1),
 (56699, 1),
 (110100, 1),
 (70500, 1),
 (156250, 1),
 (86900, 1),
 (161000, 1),
 (81400, 1),
 (375000, 1),
 (76700, 1),
 (11688, 1),
 (539000, 1),
 (369500, 1),
 (201600, 1),
 (59400, 1),
 (10270, 1),
 (498000, 1),
 (1112000, 1),
 (439000, 1)]

In [ ]:
sorted(w.items())

In [ ]:
df[df['price_vnd'] <= 10000].count() - df[df['price_vnd'] < 10000].count()

price_vnd     6139
sim_number    6139
label         6139
dtype: int64

In [ ]:
df[df['price_vnd'] <= 500].count()

price_vnd     76162
sim_number    76162
label         76162
dtype: int64

In [ ]:
df[df['price_vnd'] <= 1000].count() - df[df['price_vnd'] <= 500].count()

price_vnd     38472
sim_number    38472
label         38472
dtype: int64

In [ ]:
df[df['price_vnd'] <= 3000].count() - df[df['price_vnd'] <= 1000].count()

price_vnd     29199
sim_number    29199
label         29199
dtype: int64

In [ ]:
df[df['price_vnd'] <= 5000].count() - df[df['price_vnd'] <= 3000].count()

price_vnd     21383
sim_number    21383
label         21383
dtype: int64

In [ ]:
df[df['price_vnd'] <= 10000].count() - df[df['price_vnd'] <= 5000].count()

price_vnd     6139
sim_number    6139
label         6139
dtype: int64

In [ ]:
df[df['price_vnd'] <= 30000].count() - df[df['price_vnd'] <= 10000].count()

price_vnd     19891
sim_number    19891
label         19891
dtype: int64

In [ ]:
df[df['price_vnd'] <= 100000].count() - df[df['price_vnd'] <= 30000].count()

price_vnd     5579
sim_number    5579
label         5579
dtype: int64

In [ ]:
df[df['price_vnd'] > 100000].count()

price_vnd     3175
sim_number    3175
label         3175
dtype: int64

In [ ]:
# y = df['price_vnd']
# X = df.loc[:, df.columns != 'sim_number']

# from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
import numpy as np

X = []
for i in df['sim_number']:
  b = np.zeros(shape=(9, 10))
  de = 0
  for p in i: 
    a = np.zeros(shape=(10))
    a[int(p)] = 1
    b[de] = a 
    de += 1
  X.append(b)

In [ ]:
X = np.array(X)

In [ ]:
from sklearn.preprocessing import StandardScaler
y = df['price_vnd']
y = np.array(y)
# sc_y = StandardScaler()
# y = sc_y.fit_transform(y.values.reshape(-1, 1))

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
y_train = np.concatenate(y_train)
y_test = np.concatenate(y_test)

In [ ]:
print(X_test.shape, y_train.shape)

(40000, 9, 10) (160000,)

In [ ]:
X_train = X_train.reshape(160000,9,10,1)
X_test = X_test.reshape(40000,9,10,1)

In [ ]:
from keras.models import Sequential
from keras.layers import Dense, Conv2D, Flatten
from tensorflow.keras.optimizers import Adam

model = Sequential()

#add model layers
model.add(Conv2D(8, kernel_size=3, activation='relu', input_shape=(9,10,1)))
model.add(Conv2D(4, kernel_size=3, activation='relu'))
model.add(Flatten())
model.add(Dense(1, activation='linear'))
model.compile(loss='mse', 
    optimizer=Adam(learning_rate=0.1), 
    metrics='mse')

In [ ]:
model.fit(X_train, y_train,validation_data=(X_test, y_test), epochs=2)

Epoch 1/2
5000/5000 [==============================] - 17s 3ms/step - loss: 257921066821746688.0000 - mse: 257921066821746688.0000 - val_loss: 716053442895806464.0000 - val_mse: 716053442895806464.0000
Epoch 2/2
5000/5000 [==============================] - 17s 3ms/step - loss: 257844925641523200.0000 - mse: 257844925641523200.0000 - val_loss: 716014272794066944.0000 - val_mse: 716014272794066944.0000

In [ ]:
yhat = model.predict(X_test[64].reshape(1,9,10,1))
yhat

1/1 [==============================] - 0s 104ms/step

array([[-432813.56]], dtype=float32)

In [ ]:
yhat

array([[-432813.56]], dtype=float32)

In [ ]:
a = sc_y.inverse_transform(yhat.reshape(-1, 1))
a = a.ravel()
a

array([4329.08], dtype=float32)

In [ ]:
y_test[64]

450000

In [ ]:
 sc_y.inverse_transform(y_test[1265].reshape(-1, 1)).ravel()

array([450.])

In [ ]:
from keras.layers import Dense, Flatten
from keras.models import Sequential
from keras import metrics 
from tensorflow.keras.optimizers import Adam
# 2. buid model 
model = Sequential()
model.add(Flatten(input_shape=(9, 10)))
model.add(Dense(16, activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(64, activation='relu'))
model.add(Dense(1, input_shape = (1,), activation='linear'))

# 3. loss, metrics 
model.compile(loss='mse', 
    optimizer=Adam(learning_rate=0.1), 
    metrics='mse')

In [ ]:
model.fit(X_train, y_train,validation_data=(X_test, y_test), epochs=5)

Epoch 1/5
5000/5000 [==============================] - 18s 3ms/step - loss: 256824630390554624.0000 - mse: 256824630390554624.0000 - val_loss: 715705378746138624.0000 - val_mse: 715705378746138624.0000
Epoch 2/5
5000/5000 [==============================] - 13s 3ms/step - loss: 252021465384222720.0000 - mse: 252021465384222720.0000 - val_loss: 716144702360911872.0000 - val_mse: 716144702360911872.0000
Epoch 3/5
5000/5000 [==============================] - 13s 3ms/step - loss: 245756104531771392.0000 - mse: 245756104531771392.0000 - val_loss: 717791976937750528.0000 - val_mse: 717791976937750528.0000
Epoch 4/5
5000/5000 [==============================] - 14s 3ms/step - loss: 238751373649248256.0000 - mse: 238751373649248256.0000 - val_loss: 718781125085888512.0000 - val_mse: 718781125085888512.0000
Epoch 5/5
5000/5000 [==============================] - 13s 3ms/step - loss: 227414360794857472.0000 - mse: 227414360794857472.0000 - val_loss: 720070646066839552.0000 - val_mse: 720070646066839552.0000

In [ ]:
model.predict(X_test[64].reshape(1,9,10))

1/1 [==============================] - 0s 161ms/step

array([[8939599.]], dtype=float32)

In [ ]:
from tensorflow import keras
from tensorflow.keras import layers
batch_size = 16
# Each MNIST image batch is a tensor of shape (batch_size, 28, 28).
# Each input sequence will be of size (28, 28) (height is treated like time).
input_dim = 10

units = 16
output_size = 10  # labels are from 0 to 9

# Build the RNN model
def build_model(allow_cudnn_kernel=True):
    # CuDNN is only available at the layer level, and not at the cell level.
    # This means `LSTM(units)` will use the CuDNN kernel,
    # while RNN(LSTMCell(units)) will run on non-CuDNN kernel.
    if allow_cudnn_kernel:
        # The LSTM layer with default options uses CuDNN.
        lstm_layer = keras.layers.LSTM(units, input_shape=(None, input_dim))
    else:
        # Wrapping a LSTMCell in a RNN layer will not use CuDNN.
        lstm_layer = keras.layers.RNN(
            keras.layers.LSTMCell(units), input_shape=(None, input_dim)
        )
    model = keras.models.Sequential(
        [
            lstm_layer,
            keras.layers.BatchNormalization(),
            keras.layers.Dense(1, activation='linear'),
         
        ]
    )
    return model

In [ ]:
from tensorflow.keras.optimizers import Adam
model = build_model(allow_cudnn_kernel=False)

model.compile(loss='mse', 
    optimizer=Adam(learning_rate=0.1), 
    metrics='mse')


model.fit(X_train, y_train,validation_data=(X_test, y_test), epochs=2)

Epoch 1/2
5000/5000 [==============================] - 26s 5ms/step - loss: 258170655961251840.0000 - mse: 258170655961251840.0000 - val_loss: 716423565997506560.0000 - val_mse: 716423565997506560.0000
Epoch 2/2
5000/5000 [==============================] - 25s 5ms/step - loss: 258155331517939712.0000 - mse: 258155331517939712.0000 - val_loss: 716409615943729152.0000 - val_mse: 716409615943729152.0000

In [ ]:
X_train.shape

(160000, 9, 10)

#NewFeature

In [ ]:
import pandas
import numpy as np

df = pandas.read_csv('/content/gdrive/MyDrive/Colab Notebooks/sim/train_dataset.csv')

# df['price_vnd']  = df['price_vnd']/1000
df['price_vnd'] = df['price_vnd'].astype(int)
df['sim_number'] = df['sim_number'].astype(str)
df.head()

   price_vnd sim_number
0     450000  343189288
1    3000000  888899580
2     500000  928960006
3    5000000  902438679
4     450000  334307889

In [ ]:
label = []
for i in df['price_vnd']:
  if i <= 450000:
    label.append(0)
  elif i <= 500000:
    label.append(1)
  elif i <= 1000000:
    label.append(2)
  elif i <= 3000000:
    label.append(3)
  elif i <= 5000000:
    label.append(4)
  elif i <= 15000000:
    label.append(5)
  else:
    label.append(6)

In [ ]:
from collections import Counter
Counter(label)

Counter({0: 45543, 3: 29199, 1: 30619, 4: 21383, 5: 26030, 6: 8754, 2: 38472})

In [ ]:
df['class'] = label
df.head()

   price_vnd sim_number  class
0     450000  343189288      0
1    3000000  888899580      3
2     500000  928960006      1
3    5000000  902438679      4
4     450000  334307889      0

In [ ]:
import numpy as np

X = []
for i in df['sim_number']:
  b = np.zeros(shape=(9, 10))
  de = 0
  for p in i: 
    a = np.zeros(shape=(10))
    a[int(p)] = 1
    b[de] = a 
    de += 1
  X.append(b)

In [ ]:
X = np.array(X)
y = df['class']
y = np.array(y)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
X_train

array([[[0., 0., 0., ..., 0., 0., 1.],
        [1., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 1., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 1.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 1.]],

       [[0., 0., 0., ..., 0., 0., 1.],
        [0., 0., 0., ..., 0., 1., 0.],
        [0., 0., 0., ..., 0., 1., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 1., 0., 0.],
        [0., 0., 0., ..., 1., 0., 0.]],

       [[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 1., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 1.],
        ...,
        [0., 1., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 1., 0.],
        [0., 0., 0., ..., 0., 1., 0.]],

       ...,

       [[0., 0., 0., ..., 0., 0., 1.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 1., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 1., 0.],
        [0., 0., 0., ..., 0., 0., 1.],
        [0., 1., 0., ..., 0., 0., 0.]],

       [[0., 0., 0., ..., 0., 1., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 1.]],

       [[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 1., 0.],
        [0., 0., 0., ..., 0., 1., 0.]]])

In [ ]:
X_train.shape

(160000, 9, 10)

In [ ]:
y_test.shape

(40000,)

In [ ]:
x_train = np.reshape(X_train,[-1, 9, 10])
x_test = np.reshape(X_test,[-1, 9, 10])
x_train = X_train.astype('float32')
x_test = X_test.astype('float32')

In [ ]:
num_labels = len(np.unique(y_train))
num_labels

8

In [ ]:
y_test[0]

0

In [ ]:
y_train[0]

4

In [ ]:
from keras.utils import to_categorical
y_train = to_categorical(y_train)
y_test = to_categorical(y_test)

#RNN

In [ ]:
import keras
from keras.models import Sequential
from keras.layers import Dense, Activation, SimpleRNN


input_shape = (9, 10)
batch_size = 64
units = 128
dropout = 0.2

model = Sequential()
model.add(SimpleRNN(units=units,
                    input_shape=input_shape))
model.add(keras.layers.Dropout(0.2))
# model.add(SimpleRNN(units=64))
# model.add(keras.layers.Dense(64, activation='relu'))
# model.add(keras.layers.Dropout(0.2))
model.add(Dense(num_labels))
model.add(Activation('softmax'))
model.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 simple_rnn_6 (SimpleRNN)    (None, 128)               17792

 dropout_2 (Dropout)         (None, 128)               0

 dense_1 (Dense)             (None, 6)                 774

 activation_1 (Activation)   (None, 6)                 0

=================================================================
Total params: 18,566
Trainable params: 18,566
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.compile(loss='categorical_crossentropy',
              optimizer='adam',
              metrics=['accuracy'])
# train the network
model.fit(x_train, y_train, validation_data=(x_test, y_test), epochs=30, batch_size=batch_size)

Epoch 1/30
2500/2500 [==============================] - 14s 5ms/step - loss: 1.1706 - accuracy: 0.5583 - val_loss: 1.0822 - val_accuracy: 0.5937
Epoch 2/30
2500/2500 [==============================] - 13s 5ms/step - loss: 1.0672 - accuracy: 0.5940 - val_loss: 1.0147 - val_accuracy: 0.6153
Epoch 3/30
2500/2500 [==============================] - 13s 5ms/step - loss: 1.0212 - accuracy: 0.6095 - val_loss: 0.9816 - val_accuracy: 0.6240
Epoch 4/30
2500/2500 [==============================] - 13s 5ms/step - loss: 0.9863 - accuracy: 0.6220 - val_loss: 0.9529 - val_accuracy: 0.6354
Epoch 5/30
2500/2500 [==============================] - 13s 5ms/step - loss: 0.9583 - accuracy: 0.6317 - val_loss: 0.9336 - val_accuracy: 0.6421
Epoch 6/30
2500/2500 [==============================] - 13s 5ms/step - loss: 0.9352 - accuracy: 0.6402 - val_loss: 0.9054 - val_accuracy: 0.6534
Epoch 7/30
2500/2500 [==============================] - 12s 5ms/step - loss: 0.9169 - accuracy: 0.6466 - val_loss: 0.8915 - val_accuracy: 0.6553
Epoch 8/30
2500/2500 [==============================] - 12s 5ms/step - loss: 0.9015 - accuracy: 0.6531 - val_loss: 0.8776 - val_accuracy: 0.6630
Epoch 9/30
2500/2500 [==============================] - 12s 5ms/step - loss: 0.8878 - accuracy: 0.6574 - val_loss: 0.8657 - val_accuracy: 0.6676
Epoch 10/30
2500/2500 [==============================] - 13s 5ms/step - loss: 0.8749 - accuracy: 0.6638 - val_loss: 0.8598 - val_accuracy: 0.6709
Epoch 11/30
2500/2500 [==============================] - 13s 5ms/step - loss: 0.8656 - accuracy: 0.6662 - val_loss: 0.8578 - val_accuracy: 0.6680
Epoch 12/30
2500/2500 [==============================] - 13s 5ms/step - loss: 0.8563 - accuracy: 0.6696 - val_loss: 0.8466 - val_accuracy: 0.6751
Epoch 13/30
2500/2500 [==============================] - 13s 5ms/step - loss: 0.8496 - accuracy: 0.6725 - val_loss: 0.8480 - val_accuracy: 0.6755
Epoch 14/30
2500/2500 [==============================] - 12s 5ms/step - loss: 0.8431 - accuracy: 0.6749 - val_loss: 0.8423 - val_accuracy: 0.6773
Epoch 15/30
2500/2500 [==============================] - 13s 5ms/step - loss: 0.8361 - accuracy: 0.6773 - val_loss: 0.8443 - val_accuracy: 0.6775
Epoch 16/30
2500/2500 [==============================] - 12s 5ms/step - loss: 0.8320 - accuracy: 0.6784 - val_loss: 0.8388 - val_accuracy: 0.6792
Epoch 17/30
2500/2500 [==============================] - 13s 5ms/step - loss: 0.8259 - accuracy: 0.6809 - val_loss: 0.8232 - val_accuracy: 0.6826
Epoch 18/30
2500/2500 [==============================] - 12s 5ms/step - loss: 0.8222 - accuracy: 0.6826 - val_loss: 0.8211 - val_accuracy: 0.6833
Epoch 19/30
2500/2500 [==============================] - 12s 5ms/step - loss: 0.8174 - accuracy: 0.6837 - val_loss: 0.8296 - val_accuracy: 0.6794
Epoch 20/30
2500/2500 [==============================] - 13s 5ms/step - loss: 0.8143 - accuracy: 0.6852 - val_loss: 0.8188 - val_accuracy: 0.6849
Epoch 21/30
2500/2500 [==============================] - 13s 5ms/step - loss: 0.8121 - accuracy: 0.6854 - val_loss: 0.8202 - val_accuracy: 0.6851
Epoch 22/30
2500/2500 [==============================] - 12s 5ms/step - loss: 0.8082 - accuracy: 0.6877 - val_loss: 0.8210 - val_accuracy: 0.6860
Epoch 23/30
2500/2500 [==============================] - 13s 5ms/step - loss: 0.8034 - accuracy: 0.6898 - val_loss: 0.8203 - val_accuracy: 0.6857
Epoch 24/30
2500/2500 [==============================] - 12s 5ms/step - loss: 0.8018 - accuracy: 0.6898 - val_loss: 0.8175 - val_accuracy: 0.6844
Epoch 25/30
2500/2500 [==============================] - 13s 5ms/step - loss: 0.7993 - accuracy: 0.6913 - val_loss: 0.8140 - val_accuracy: 0.6903
Epoch 26/30
2500/2500 [==============================] - 13s 5ms/step - loss: 0.7974 - accuracy: 0.6921 - val_loss: 0.8133 - val_accuracy: 0.6877
Epoch 27/30
2500/2500 [==============================] - 12s 5ms/step - loss: 0.7963 - accuracy: 0.6925 - val_loss: 0.8205 - val_accuracy: 0.6884
Epoch 28/30
2500/2500 [==============================] - 13s 5ms/step - loss: 0.7941 - accuracy: 0.6925 - val_loss: 0.8141 - val_accuracy: 0.6885
Epoch 29/30
2500/2500 [==============================] - 13s 5ms/step - loss: 0.7916 - accuracy: 0.6939 - val_loss: 0.8101 - val_accuracy: 0.6884
Epoch 30/30
2500/2500 [==============================] - 12s 5ms/step - loss: 0.7919 - accuracy: 0.6941 - val_loss: 0.8108 - val_accuracy: 0.6892

In [ ]:
X_train.shape[1:]

(9, 10)

#a

In [ ]:
import keras
from keras.layers import LSTM, Bidirectional

model = keras.models.Sequential()

# model.add(keras.layers.LSTM(128, input_shape=(X_train.shape[1:]), return_sequences=True))
model.add(Bidirectional(LSTM(128, return_sequences=True), input_shape=(X_train.shape[1:])))
# model.add(Attention(units=128))
model.add(keras.layers.Dropout(0.2))
# model.add(keras.layers.LSTM(128))
model.add(Bidirectional(LSTM(128)))
model.add(keras.layers.Dense(64, activation='relu'))
model.add(keras.layers.Dropout(0.2))
model.add(keras.layers.Dense(32, activation='relu'))
model.add(keras.layers.Dropout(0.2))
model.add(keras.layers.Dense(8, activation='softmax'))

#Compiling the model
model.compile( loss='sparse_categorical_crossentropy', optimizer = keras.optimizers.Adam(learning_rate=0.001, decay=1e-6), metrics=['accuracy'] )
import tensorflow as tf
callback = tf.keras.callbacks.EarlyStopping(monitor='val_accuracy', patience=20, mode = 'max', verbose = 1)
history = model.fit(X_train, y_train, epochs=100, validation_data=(X_test, y_test), callbacks=[callback])

Epoch 1/100
5000/5000 [==============================] - 63s 12ms/step - loss: 1.1783 - accuracy: 0.5621 - val_loss: 1.0025 - val_accuracy: 0.6204
Epoch 2/100
5000/5000 [==============================] - 53s 11ms/step - loss: 0.9646 - accuracy: 0.6378 - val_loss: 0.8829 - val_accuracy: 0.6672
Epoch 3/100
5000/5000 [==============================] - 53s 11ms/step - loss: 0.8725 - accuracy: 0.6709 - val_loss: 0.8305 - val_accuracy: 0.6874
Epoch 4/100
5000/5000 [==============================] - 52s 10ms/step - loss: 0.8058 - accuracy: 0.6942 - val_loss: 0.7782 - val_accuracy: 0.7071
Epoch 5/100
5000/5000 [==============================] - 53s 11ms/step - loss: 0.7521 - accuracy: 0.7127 - val_loss: 0.7488 - val_accuracy: 0.7130
Epoch 6/100
 786/5000 [===>..........................] - ETA: 40s - loss: 0.7168 - accuracy: 0.7260

In [ ]:
a = model.predict(X_test.reshape(-1,9,10))

1250/1250 [==============================] - 7s 5ms/step

In [ ]:
a

array([[9.99996781e-01, 3.16619048e-06, 3.09144212e-08, 5.76050707e-10,
        3.78999696e-12, 2.14534938e-15],
       [9.98979270e-01, 8.04272422e-04, 1.80935574e-04, 3.52015268e-05,
        2.36667475e-07, 7.94233429e-12],
       [9.76515189e-03, 1.59254260e-02, 2.09216192e-01, 6.86319053e-01,
        7.63596296e-02, 2.41459440e-03],
       ...,
       [5.58318794e-01, 4.21119124e-01, 1.26616163e-02, 1.51582400e-03,
        6.06492115e-03, 3.19650571e-04],
       [3.25390249e-02, 9.63104010e-01, 4.22488572e-03, 6.56707707e-05,
        6.63824903e-05, 3.09065462e-09],
       [3.16821797e-07, 9.99999404e-01, 5.27020099e-08, 2.15588543e-07,
        2.83457924e-09, 1.10618645e-20]], dtype=float32)

#perceptron

In [ ]:
from keras.layers import Dense, Flatten
from keras.models import Sequential
from keras import metrics 
# 2. buid model 
model = Sequential()
model.add(Flatten(input_shape=(9, 10)))
model.add(Dense(32, activation='relu'))
model.add(Dense(64, activation='relu'))
# model.add(Dense(128, activation='relu'))
model.add(Dense(num_labels, activation='softmax'))

# 3. loss, metrics 
model.compile(loss='categorical_crossentropy',
              optimizer='adam',
              metrics=['accuracy'])
model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=30)

Epoch 1/30
5000/5000 [==============================] - 22s 4ms/step - loss: 1.0888 - accuracy: 0.5860 - val_loss: 0.9721 - val_accuracy: 0.6284
Epoch 2/30
5000/5000 [==============================] - 15s 3ms/step - loss: 0.9376 - accuracy: 0.6395 - val_loss: 0.9083 - val_accuracy: 0.6503
Epoch 3/30
5000/5000 [==============================] - 14s 3ms/step - loss: 0.8942 - accuracy: 0.6547 - val_loss: 0.8820 - val_accuracy: 0.6607
Epoch 4/30
5000/5000 [==============================] - 13s 3ms/step - loss: 0.8704 - accuracy: 0.6637 - val_loss: 0.8648 - val_accuracy: 0.6660
Epoch 5/30
5000/5000 [==============================] - 14s 3ms/step - loss: 0.8545 - accuracy: 0.6691 - val_loss: 0.8524 - val_accuracy: 0.6713
Epoch 6/30
5000/5000 [==============================] - 14s 3ms/step - loss: 0.8417 - accuracy: 0.6730 - val_loss: 0.8466 - val_accuracy: 0.6701
Epoch 7/30
5000/5000 [==============================] - 13s 3ms/step - loss: 0.8314 - accuracy: 0.6772 - val_loss: 0.8341 - val_accuracy: 0.6775
Epoch 8/30
5000/5000 [==============================] - 13s 3ms/step - loss: 0.8229 - accuracy: 0.6798 - val_loss: 0.8234 - val_accuracy: 0.6814
Epoch 9/30
5000/5000 [==============================] - 14s 3ms/step - loss: 0.8154 - accuracy: 0.6830 - val_loss: 0.8253 - val_accuracy: 0.6813
Epoch 10/30
5000/5000 [==============================] - 14s 3ms/step - loss: 0.8083 - accuracy: 0.6849 - val_loss: 0.8196 - val_accuracy: 0.6810
Epoch 11/30
5000/5000 [==============================] - 14s 3ms/step - loss: 0.8023 - accuracy: 0.6884 - val_loss: 0.8115 - val_accuracy: 0.6873
Epoch 12/30
5000/5000 [==============================] - 14s 3ms/step - loss: 0.7969 - accuracy: 0.6897 - val_loss: 0.8078 - val_accuracy: 0.6870
Epoch 13/30
5000/5000 [==============================] - 13s 3ms/step - loss: 0.7934 - accuracy: 0.6914 - val_loss: 0.8076 - val_accuracy: 0.6875
Epoch 14/30
5000/5000 [==============================] - 13s 3ms/step - loss: 0.7891 - accuracy: 0.6922 - val_loss: 0.8019 - val_accuracy: 0.6903
Epoch 15/30
5000/5000 [==============================] - 17s 3ms/step - loss: 0.7856 - accuracy: 0.6939 - val_loss: 0.7986 - val_accuracy: 0.6887
Epoch 16/30
5000/5000 [==============================] - 15s 3ms/step - loss: 0.7823 - accuracy: 0.6955 - val_loss: 0.7991 - val_accuracy: 0.6902
Epoch 17/30
5000/5000 [==============================] - 14s 3ms/step - loss: 0.7791 - accuracy: 0.6963 - val_loss: 0.7963 - val_accuracy: 0.6916
Epoch 18/30
5000/5000 [==============================] - 14s 3ms/step - loss: 0.7761 - accuracy: 0.6977 - val_loss: 0.7992 - val_accuracy: 0.6907
Epoch 19/30
 951/5000 [====>.........................] - ETA: 9s - loss: 0.7667 - accuracy: 0.7014

#b

In [ ]:
from tensorflow import keras
from keras.models import Model
from keras.layers import LSTM, Bidirectional, Conv1D, MaxPooling1D, BatchNormalization, Input, Dense, Dropout, Flatten

input_layer = Input(shape=(9, 10))
conv1 = Conv1D(64, 2, activation='relu', padding='same')(input_layer)
conv2 = Conv1D(128, 2, activation='relu', padding='same')(conv1)
x = BatchNormalization()(conv2)
x = MaxPooling1D(2)(x)

lstm1 = Bidirectional(LSTM(200, return_sequences=True), 
                             input_shape=(x.shape[1:]))(x)
x = Dropout(0.2)(lstm1)

lstm2 = Bidirectional(LSTM(200))(x)
x = Dropout(0.2)(lstm2)

output_layer = Dense(7, activation='softmax')(x)
model = Model(inputs=input_layer, outputs=output_layer)
model.compile( loss='sparse_categorical_crossentropy', optimizer = keras.optimizers.Adam(), metrics=['accuracy'] )
model.summary()

Model: "model_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_4 (InputLayer)        [(None, 9, 10)]           0

 conv1d_6 (Conv1D)           (None, 9, 64)             1344

 conv1d_7 (Conv1D)           (None, 9, 128)            16512

 batch_normalization_3 (Batc  (None, 9, 128)           512
 hNormalization)

 max_pooling1d_3 (MaxPooling  (None, 4, 128)           0
 1D)

 bidirectional_6 (Bidirectio  (None, 4, 400)           526400
 nal)

 dropout_4 (Dropout)         (None, 4, 400)            0

 bidirectional_7 (Bidirectio  (None, 400)              961600
 nal)

 dropout_5 (Dropout)         (None, 400)               0

 dense_3 (Dense)             (None, 7)                 2807

=================================================================
Total params: 1,509,175
Trainable params: 1,508,919
Non-trainable params: 256
_________________________________________________________________

In [ ]:
import tensorflow as tf
BATCH_SIZE = 32
EPOCHS = 200
callback = tf.keras.callbacks.EarlyStopping(monitor='val_accuracy', patience=10, mode = 'max', verbose = 1)
# model_save = tf.keras.callbacks.ModelCheckpoint('model.h5', save_best_only=True, monitor='val_accuracy', mode='max', verbose=1)
history = model.fit(X_train, y_train, batch_size=BATCH_SIZE, epochs=EPOCHS, validation_data=(X_test, y_test), callbacks=[callback])

Epoch 1/200
5000/5000 [==============================] - 63s 12ms/step - loss: 0.8970 - accuracy: 0.6591 - val_loss: 0.7527 - val_accuracy: 0.7146
Epoch 2/200
5000/5000 [==============================] - 57s 11ms/step - loss: 0.6870 - accuracy: 0.7358 - val_loss: 0.6522 - val_accuracy: 0.7494
Epoch 3/200
5000/5000 [==============================] - 57s 11ms/step - loss: 0.6045 - accuracy: 0.7665 - val_loss: 0.6172 - val_accuracy: 0.7634
Epoch 4/200
5000/5000 [==============================] - 62s 12ms/step - loss: 0.5448 - accuracy: 0.7895 - val_loss: 0.5961 - val_accuracy: 0.7728
Epoch 5/200
5000/5000 [==============================] - 56s 11ms/step - loss: 0.4961 - accuracy: 0.8078 - val_loss: 0.5944 - val_accuracy: 0.7761
Epoch 6/200
5000/5000 [==============================] - 56s 11ms/step - loss: 0.4551 - accuracy: 0.8230 - val_loss: 0.6028 - val_accuracy: 0.7774
Epoch 7/200
5000/5000 [==============================] - 57s 11ms/step - loss: 0.4177 - accuracy: 0.8379 - val_loss: 0.6206 - val_accuracy: 0.7761
Epoch 8/200
5000/5000 [==============================] - 57s 11ms/step - loss: 0.3840 - accuracy: 0.8500 - val_loss: 0.6144 - val_accuracy: 0.7782
Epoch 9/200
5000/5000 [==============================] - 57s 11ms/step - loss: 0.3578 - accuracy: 0.8608 - val_loss: 0.6287 - val_accuracy: 0.7820
Epoch 10/200
5000/5000 [==============================] - 56s 11ms/step - loss: 0.3321 - accuracy: 0.8710 - val_loss: 0.6591 - val_accuracy: 0.7766
Epoch 11/200
5000/5000 [==============================] - 56s 11ms/step - loss: 0.3098 - accuracy: 0.8793 - val_loss: 0.6723 - val_accuracy: 0.7822
Epoch 12/200
5000/5000 [==============================] - 57s 11ms/step - loss: 0.2911 - accuracy: 0.8868 - val_loss: 0.7029 - val_accuracy: 0.7790
Epoch 13/200
5000/5000 [==============================] - 56s 11ms/step - loss: 0.2759 - accuracy: 0.8934 - val_loss: 0.7165 - val_accuracy: 0.7792
Epoch 14/200
5000/5000 [==============================] - 57s 11ms/step - loss: 0.2604 - accuracy: 0.8995 - val_loss: 0.7257 - val_accuracy: 0.7784
Epoch 15/200
5000/5000 [==============================] - 56s 11ms/step - loss: 0.2499 - accuracy: 0.9038 - val_loss: 0.7434 - val_accuracy: 0.7770
Epoch 16/200
5000/5000 [==============================] - 57s 11ms/step - loss: 0.2363 - accuracy: 0.9093 - val_loss: 0.7758 - val_accuracy: 0.7771
Epoch 17/200
5000/5000 [==============================] - 56s 11ms/step - loss: 0.2292 - accuracy: 0.9125 - val_loss: 0.7832 - val_accuracy: 0.7758
Epoch 18/200
5000/5000 [==============================] - 56s 11ms/step - loss: 0.2192 - accuracy: 0.9157 - val_loss: 0.7874 - val_accuracy: 0.7797
Epoch 19/200
5000/5000 [==============================] - 56s 11ms/step - loss: 0.2125 - accuracy: 0.9185 - val_loss: 0.8074 - val_accuracy: 0.7782
Epoch 20/200
5000/5000 [==============================] - 56s 11ms/step - loss: 0.2059 - accuracy: 0.9215 - val_loss: 0.8121 - val_accuracy: 0.7788
Epoch 21/200
5000/5000 [==============================] - 62s 12ms/step - loss: 0.2017 - accuracy: 0.9234 - val_loss: 0.8279 - val_accuracy: 0.7779
Epoch 21: early stopping

In [ ]:
print(model.summary())

Model: "sequential_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv1d_21 (Conv1D)          (None, 9, 32)             672

 batch_normalization_21 (Bat  (None, 9, 32)            128
 chNormalization)

 conv1d_22 (Conv1D)          (None, 9, 64)             4160

 batch_normalization_22 (Bat  (None, 9, 64)            256
 chNormalization)

 conv1d_23 (Conv1D)          (None, 9, 128)            16512

 batch_normalization_23 (Bat  (None, 9, 128)           512
 chNormalization)

 max_pooling1d_7 (MaxPooling  (None, 4, 128)           0
 1D)

 flatten_4 (Flatten)         (None, 512)               0

 dense_8 (Dense)             (None, 64)                32832

 dropout_5 (Dropout)         (None, 64)                0

 dense_9 (Dense)             (None, 7)                 455

=================================================================
Total params: 55,527
Trainable params: 55,079
Non-trainable params: 448
_________________________________________________________________
None

In [ ]:
aa = model.predict(X_test)
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
y_pred = np.argmax(aa, axis=1)
print(classification_report(y_test,y_pred))

1250/1250 [==============================] - 8s 5ms/step
              precision    recall  f1-score   support

           0       0.90      0.95      0.92      9136
           1       0.77      0.79      0.78      6083
           2       0.86      0.78      0.82      7665
           3       0.61      0.65      0.63      5915
           4       0.55      0.48      0.52      4187
           5       0.75      0.79      0.77      5250
           6       0.96      0.84      0.89      1764

    accuracy                           0.78     40000
   macro avg       0.77      0.76      0.76     40000
weighted avg       0.78      0.78      0.77     40000

              precision    recall  f1-score   support

           0       0.90      0.94      0.92      9136
           1       0.79      0.76      0.78      6083
           2       0.82      0.81      0.81      7665
           3       0.61      0.63      0.62      5915
           4       0.52      0.49      0.51      4187
           5       0.76      0.76      0.76      5250
           6       0.91      0.86      0.89      1764

    accuracy                           0.77     40000
   macro avg       0.76      0.75      0.75     40000
weighted avg       0.77      0.77      0.77     40000

In [ ]:
import keras
from keras.layers import LSTM, Bidirectional, TimeDistributed, Conv1D, MaxPooling1D, BatchNormalization, Flatten

model = keras.models.Sequential()
# define CNN model
model.add(Conv1D(64, 2, activation='relu', padding='same', input_shape=(9,10)))
model.add(Conv1D(128, 2, activation='relu', padding='same'))
model.add(BatchNormalization())
model.add(MaxPooling1D())
model.add(Flatten())
# model.add(TimeDistributed(Flatten()))
# define LSTM model
# model.add(Bidirectional(LSTM(128, return_sequences=True),
#                              input_shape=(X_train.shape[1:])))
# model.add(Attention(units=128))
# model.add(keras.layers.Dropout(0.2))
# model.add(keras.layers.LSTM(128))
# model.add(Bidirectional(LSTM(128)))
model.add(keras.layers.Dense(64, activation='relu'))
model.add(keras.layers.Dropout(0.2))
# model.add(keras.layers.Dense(32, activation='relu'))
# model.add(keras.layers.Dropout(0.2))
model.add(keras.layers.Dense(7, activation='softmax'))
#Compiling the model
model.compile( loss='sparse_categorical_crossentropy', optimizer = keras.optimizers.Adam(learning_rate=0.001, decay=1e-6), metrics=['accuracy'] )
# model.summary()

In [ ]:
import tensorflow as tf
callback = tf.keras.callbacks.EarlyStopping(monitor='val_accuracy', patience=20, mode = 'max', verbose = 1)
history = model.fit(X_train, y_train, epochs=10, validation_data=(X_test, y_test), callbacks=[callback])

Epoch 1/10
5000/5000 [==============================] - 19s 4ms/step - loss: 1.0725 - accuracy: 0.5985 - val_loss: 0.8894 - val_accuracy: 0.6679
Epoch 2/10
5000/5000 [==============================] - 19s 4ms/step - loss: 0.9003 - accuracy: 0.6587 - val_loss: 0.8242 - val_accuracy: 0.6856
Epoch 3/10
5000/5000 [==============================] - 21s 4ms/step - loss: 0.8465 - accuracy: 0.6761 - val_loss: 0.8167 - val_accuracy: 0.6929
Epoch 4/10
5000/5000 [==============================] - 17s 3ms/step - loss: 0.8125 - accuracy: 0.6891 - val_loss: 0.7682 - val_accuracy: 0.7085
Epoch 5/10
5000/5000 [==============================] - 17s 3ms/step - loss: 0.7915 - accuracy: 0.6962 - val_loss: 0.7622 - val_accuracy: 0.7101
Epoch 6/10
5000/5000 [==============================] - 17s 3ms/step - loss: 0.7740 - accuracy: 0.7025 - val_loss: 0.7463 - val_accuracy: 0.7150
Epoch 7/10
5000/5000 [==============================] - 18s 4ms/step - loss: 0.7611 - accuracy: 0.7063 - val_loss: 0.7313 - val_accuracy: 0.7211
Epoch 8/10
5000/5000 [==============================] - 18s 4ms/step - loss: 0.7490 - accuracy: 0.7101 - val_loss: 0.7376 - val_accuracy: 0.7203
Epoch 9/10
5000/5000 [==============================] - 18s 4ms/step - loss: 0.7386 - accuracy: 0.7135 - val_loss: 0.7200 - val_accuracy: 0.7261
Epoch 10/10
5000/5000 [==============================] - 18s 4ms/step - loss: 0.7302 - accuracy: 0.7180 - val_loss: 0.7233 - val_accuracy: 0.7272

In [ ]:
aa = model.predict(X_test)
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
y_pred = np.argmax(aa, axis=1)
print(classification_report(y_test,y_pred))

1250/1250 [==============================] - 2s 2ms/step
              precision    recall  f1-score   support

           0       0.86      0.97      0.91      9136
           1       0.73      0.74      0.73      6083
           2       0.88      0.71      0.79      7665
           3       0.49      0.67      0.57      5915
           4       0.51      0.34      0.41      4187
           5       0.71      0.68      0.70      5250
           6       0.92      0.73      0.82      1764

    accuracy                           0.73     40000
   macro avg       0.73      0.69      0.70     40000
weighted avg       0.74      0.73      0.72     40000